<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.fniephaus.pocket</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>2543D2DD-E0F7-479A-8CA8-525B97003DB7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF3A17F0-109C-498C-953A-1EA26ABBE2E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2A555E39-C9A2-44C6-86BB-62F2203985E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>94B5A64D-BE8D-43B8-847A-F84CA4214C44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2E5BB5E1-D7FC-495C-A76E-BB711EB8A469</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>94B5A64D-BE8D-43B8-847A-F84CA4214C44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>34256840-2B17-4A55-83F2-86C4EF9B800A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>94B5A64D-BE8D-43B8-847A-F84CA4214C44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5E2199C2-314D-447F-BA91-52B1AC449F40</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>94B5A64D-BE8D-43B8-847A-F84CA4214C44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>739C48C5-6C99-4B62-AAB4-E23DCD2035B5</key>
		<array/>
		<key>DF3A17F0-109C-498C-953A-1EA26ABBE2E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>94B5A64D-BE8D-43B8-847A-F84CA4214C44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E037422F-BB78-4C52-9EC9-D23FCF6CA31A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>739C48C5-6C99-4B62-AAB4-E23DCD2035B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>34256840-2B17-4A55-83F2-86C4EF9B800A</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Copy to clipboard</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5E2199C2-314D-447F-BA91-52B1AC449F40</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Open and archive link</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2E5BB5E1-D7FC-495C-A76E-BB711EB8A469</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Archive link</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2A555E39-C9A2-44C6-86BB-62F2203985E9</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Delete link</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FA9D7CD0-C30A-4E9C-A595-869F6868675F</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Deauthorize workflow</string>
			</dict>
		</array>
		<key>FA9D7CD0-C30A-4E9C-A595-869F6868675F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>94B5A64D-BE8D-43B8-847A-F84CA4214C44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Fabio Niephaus</string>
	<key>description</key>
	<string>Manage your Pocket list with Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pocket for Alfred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pocket_launcher.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>739C48C5-6C99-4B62-AAB4-E23DCD2035B5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pocket_launcher.py --copy "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>34256840-2B17-4A55-83F2-86C4EF9B800A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pocket_launcher.py --visit-and-archive "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5E2199C2-314D-447F-BA91-52B1AC449F40</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>pocket</string>
				<key>runningsubtext</key>
				<string>Contacting getpocket.com...</string>
				<key>script</key>
				<string>python pocket_alfred.py "{query}"</string>
				<key>subtext</key>
				<string>Manage your Pocket list with Alfred</string>
				<key>title</key>
				<string>Pocket</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E037422F-BB78-4C52-9EC9-D23FCF6CA31A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Pocket for Alfred</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>94B5A64D-BE8D-43B8-847A-F84CA4214C44</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pocket_launcher.py --archive "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2E5BB5E1-D7FC-495C-A76E-BB711EB8A469</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pocket_launcher.py --delete "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2A555E39-C9A2-44C6-86BB-62F2203985E9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python pocket_launcher.py --deauthorize "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FA9D7CD0-C30A-4E9C-A595-869F6868675F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>37</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>L</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>2543D2DD-E0F7-479A-8CA8-525B97003DB7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pocket_save.py</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DF3A17F0-109C-498C-953A-1EA26ABBE2E2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2543D2DD-E0F7-479A-8CA8-525B97003DB7</key>
		<dict>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>2A555E39-C9A2-44C6-86BB-62F2203985E9</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>2E5BB5E1-D7FC-495C-A76E-BB711EB8A469</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>34256840-2B17-4A55-83F2-86C4EF9B800A</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>5E2199C2-314D-447F-BA91-52B1AC449F40</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>739C48C5-6C99-4B62-AAB4-E23DCD2035B5</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>94B5A64D-BE8D-43B8-847A-F84CA4214C44</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>DF3A17F0-109C-498C-953A-1EA26ABBE2E2</key>
		<dict>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>E037422F-BB78-4C52-9EC9-D23FCF6CA31A</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>FA9D7CD0-C30A-4E9C-A595-869F6868675F</key>
		<dict>
			<key>ypos</key>
			<real>560</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/fniephaus/alfred-pocket/</string>
</dict>
</plist>
